<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiyoumobile.module.login" >

    <application android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:theme="@style/FullscreenTheme">

        </activity>
    </application>

</manifest>