<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiyoumobile.module.library" >

    <application android:theme="@style/AppTheme">

        <activity android:name=".l_search.ui.LySearchActivity" />
        <activity android:name=".l_achieve.ui.LyAchieveActivity"/>
        <activity android:name=".ui.activity.LyListActivity" />
        <activity android:name=".l_distribution.ui.LyDistributionActivity" />
        <activity android:name=".l_common.ui.LyDetailActivity" />
        <activity android:name=".l_schedule.ui.LyOpenTimeActivity"/>

    </application>

</manifest>
