<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiyoumoblie.module.education" >

    <application android:theme="@style/AppTheme">
        <activity android:name=".AttendanceInquireActivity"></activity>
        <activity android:name=".AppealActivity" />
        <activity android:name=".CETGradeActivity" />
        <activity android:name=".ComputersGradeActivity" />
    </application>

</manifest>
