<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiyoumoblie.module.education" >

    <application android:theme="@style/AppTheme">
        <activity android:name=".activity.AttendanceInquireActivity"/>
        <activity android:name=".activity.AppealActivity" />
        <activity android:name=".activity.CETGradeActivity" />
        <activity android:name=".activity.ComputersGradeActivity" />
        <activity android:name=".activity.TimetableActivity"/>
        <activity android:name=".activity.EduBindActivity"/>
    </application>

</manifest>
